{% extends "base_site.html" %}

{% block title %} ArcGIS Charts {% endblock title %}

{% block stylesheets %}
  {{ super() }}
   <!-- ArcGIS -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.9/esri/css/main.css">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      
      <div class="page-title">
        <div class="title_left">
          <h3>ArcGIS Charts</h3>
        </div>
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- map start -->
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">
              <div class="row"> 
                <div class="col-md-6" style="padding: 30px">
                  <p>USA Vector Map</p>
                  <div id="usa_map" style="height:400px !important;"></div>
                </div>
                <div class="col-md-6" style="padding: 30px">
                  <p>ArcGIS Map</p>
                  <div id="arcMap1" style="height:400px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- map end -->

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.usa.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
  <!-- ArcGIS -->
  <script src="https://js.arcgis.com/4.9/"></script>

  <script>
    // Load the Map and MapView modules
    require(["esri/Map", "esri/views/MapView", "dojo/domReady!"], function(Map, MapView) {
    
      // Create a Map instance
    var myMap = new Map({
      basemap: 'streets'
    });
    
    // Create a MapView instance (for 2D viewing) and reference the map instance
    var view = new MapView({
      map: myMap
    });
    
    document.getElementById("arcMap1").style.visibility = "visible";
    /*
    ArcGIS sandbox to play with map
     https://developers.arcgis.com/javascript/latest/sample-code/sandbox/index.html?sample=webscene-slides
    */
  });
  </script>
{% endblock javascripts %}
